*{
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: aqua;
}
/* header{
    background-color: white;
} */
.navigation{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: aliceblue;
    width: 100%;

}
.menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}
.common-btn{
    background-color: blue;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    color: white;
    cursor: pointer;
}
.banner-part{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./assets/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;

}
.banner-center{
    text-align: center;
    font-size: 15px;
    color: white;
    line-height: 2rem;
    font-weight: 500;
}
.banner-center .common-btn{
    margin-top: 200px;
}
.heading-speakers{
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    height: 100%;
    grid-gap: 30px;
    padding: 30px 40px 60px 40px;
}
.grid-card{
    background: white;
    border-radius: 16px;
    text-align: left;
}
.grid-card img{
    height: 300px;
    max-width: 100%;
    object-fit: cover;
}
.pricing-heading{
    text-align: center;
    font-size: x-large;
    font-weight: 700;
}
.pricing-ph{
    text-align: center;
}
.pricing-grid-parent{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 50px;
    padding: 30px 60px 30px 60px;
}
.pricing-grid-child1{
    padding: 30px 60px 30px 60px;
    text-align: left;
    background: white;
}
.pricing-grid-child2{
    padding: 30px 60px 30px 60px;
    text-align: left;
    background: black;
    color: white;
}
.pricing-grid-child3{
    padding: 30px 60px 30px 60px;
    text-align: left;
    background: lightgrey;
}
.pricing-grid-child1 .common-btn{
    color: blue;
    background: rgb(190, 186, 186);
    margin-left: 35px;
    margin-right: 75px;
    margin-top: 20px;
    
}
.pricing-grid-child2 .common-btn
{
    margin-left: 30px;
    margin-right: 60px;
    margin-top: 20px;
}
.pricing-grid-child3 .common-btn{
    color: black;
    background: white;
    margin-left: 35px;
    margin-right: 75px;
    margin-top: 20px;
}
.footer{
    padding: 100px 100px;
    justify-content: space-between;
    background-color: #00008B;
}
.foo{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}


