body{
    background-color: aqua;
}
/* header{
    background-color: white;
} */
.navigation{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: aliceblue;

}
.menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}
.common-btn{
    background-color: blue;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    color: white;
    cursor: pointer;
}

